/*Imports*/
@import "star.css";
@import url('http://fonts.cdnfonts.com/css/harry-potter');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
/*Resetando Padrões*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color: inherit;
}

/*NavBar*/
header{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
   
    width: 80%;
    display: flex;
    color: #fff;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-family: 'Harry Potter', sans-serif;
    font-size: 1.5vw;
}

.buttonLogin{
    font-family: 'Roboto',sans-serif;
    font-weight: bold 700;
    font-size: 1vw;
}
/*Letter*/
.containerLetter{
   height: 80vh;
   width: 100vw;
   
   display: flex;
   justify-content: center;
   align-items: center;
   
}

.containerLetter .letter{
    height: 50vh;
    width: 50vw;
   
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.containerLetter .letter img{
    width: auto;
    height: 50vh;
    transform: translateY(0px);
    animation: float 5s ease-in-out infinite;
}
/*Letter Efect*/
@keyframes float{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0px)
    }
}