.section-cont {
    background: linear-gradient(245.01deg, #000000 17.16%, #112532 65.9%);
}

.card-perfil {
    background-color: #243347;
}

.card-desc {
    background-color: #243347;
}

.card-inte {
    background-color: #243347;
}