@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600;800&display=swap');
body {
    overflow-x: hidden;
}
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(59, 59, 113);
    border-radius: 20px;
}
nav{
    width: 90vw;
    height: 50px;
  
    justify-content: flex-end;
}
header{
    height: 80px;
    
  
    margin-bottom: 30px;
    align-self: flex-start;
    align-items: flex-start;
}
section{
    width: 100vw;
    
}

.questao{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.quest{
   
    flex-direction: row;
    width: 65vw;
}
.chart-container{
    display: flex;
    width: auto;
    height: auto;
    align-self: center;
    justify-self: center;

    justify-content: center;
    align-items: center; 
}

.cards{
    width: 30vw;
    height: 45vh;

    color: #fff;
    
    font-family: 'Roboto Slab', serif;
    font-size: 1vw;
    font-weight: 500;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    border: 2px solid red;
    border-radius: 20px;
    margin-left: 15px;
}
.cards h1{
    font-family: 'Roboto Slab', serif;
    font-size: 1vw;
    font-weight: 600;
}