.section-cont {
    background: linear-gradient(245.01deg, #000000 17.16%, #321811 65.9%);
}
.card-perfil {
    background-color: #472924;
}
.card-desc {
    background-color: #472624;
}
.card-inte {
background-color: #472624;
}
