.section-cont {
    background: linear-gradient(245.01deg, #000000 17.16%, #322911 65.9%);
}

.card-perfil {
    background-color: #473e24;
}

.card-desc {
    background-color: #473e24;
}

.card-inte {
    background-color: #473e24;
}

.card-img {
    width: 10vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-img img {
    width: auto;
    height: 150%;
    margin-top: 15px;
  
}