.section-cont {
    background: linear-gradient(245.01deg, #000000 17.16%, #322911 65.9%);
}

.card-perfil {
    background-color: #473e24;
}

.card-desc {
    background-color: #473e24;
}

.card-inte {
    background-color: #473e24;
}