/*Imports*/
@import "star.css";
@import url('http://fonts.cdnfonts.com/css/harry-potter');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

/*Resetando Padrões*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color: inherit;
}

.section-cont{
    background: linear-gradient(245.01deg, #000000 17.16%, #141132 65.9%);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

.cont-perfil{
    width: 50vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
   
}
.container{
    width: 40vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
        
}
.card-perfil{
    width: 13vw;
    height: 28vh;
    background-color: #272447;
    border-radius: 43px;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.card-perfil img{
width: auto;
height: 15vh;

}
.desc-perfil{
    width: 30vw;
    height: 20vh;
    display: flex;
 
}
.cont-card{
    width: 30vw;
}
.card-desc{
    width: 13vw;
    height: 13vh;
    background-color: #272447;
    margin: auto;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.titles{
    width: 10vw;
    display: flex;
    margin-bottom: 77px;
    justify-content: space-evenly;
    margin-top: 5px;
}
.title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 1.2vw;
    text-align: center;
    color: #FFFFFF;
}

.sub-title{
    margin-top: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2vw;
    color: #FFFFFF;
}
 .card-desc .card-img{
    width: 10vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.card-desç .card-img img{
    width: auto;
    height: auto;
    
}
/* Estilização Cards Interação */

.card-inte{
    width: 37vw;
    height: 24vh;
    border-radius: 26px;
    background-color: #272447;
    overflow: hidden;
    transition: 1s all ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}
.card-inte img{
width: auto;
height: 18vh;


}
.card-inte:hover{
    transform: scale(1.1);
}

.card1{
    margin-bottom: 50px;
}
.cont-card{
    font-family: 'Roboto';
    font-size: 1.5vw;
    font-weight: bold 700;
    text-align: center;
    color: #fff;

}