/*Imports*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.section-cont{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Start */
.start{
    display: flex;
    width: 70vw;
    height: 70vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
}
.title {
    display: flex;
    width: 50vw;
    height: auto;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 1.5vw;
    color: #fff;
    font-weight: 700;
    text-align: center;
    flex-direction: column;
    
}
.title h2{
    animation: fadeIn 5s ease-in-out;
}
.title h3 {
    animation: fadeIn 5s ease-in-out;
}
/* Botões */
.cont-btn {
    display: flex;
    text-align: center;
    margin-top: 50px;
    animation: fadeIn 5s ease-in-out;
}

.cont-btn .btn1 {
    background-color: transparent;
    border: none;
    z-index: 1;
    border: #fff 1px solid;
    
}

.custom-btn {
    width: 15vw;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 1.2vw;
    font-weight: 700;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    transition: 1s ease-in-out;
    
}

.btn1:hover{
    background: #fff;
    color: #141132;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
/* Questões */
.questao{
    display: flex;
    width: 65vw;
    height: 70vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: fadeIn 2s ease-in-out;
    background-color: #272447;
    border-radius: 20px;
    align-self: center;
    justify-self: center;
}
.questao h2{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw;
    font-weight:bold 700;
    margin-bottom: 20px;
}
.title-quiz{
    font-size: 0.9vw;
    text-align: center;
    width: 50vw;
}
.questao .cont-quest{
    width: 50vw;
    height: 5vh;
    margin-top: 10px;
    color: #fff;
    
    
    display: flex;
    border-radius: 5px;
    cursor: pointer;
   
}
.cont-quest label{
    width: 60vw;
    height: 5vh;
    border-radius: 5px;
    cursor: pointer;
    
    display: flex;
    align-items: center;
    padding-left: 5px;
}
.cont-quest label h4{
    font-family: 'Roboto', sans-serif;
        font-size: 1vw;
        font-weight: 500;
}
label:hover{
    background-color: #a8a2eda2;
    transition: 0.7s ease-in-out;
}
.cont-quest input:checked + label {
    background-color: #7b72e4a2;
    transition: ease-in-out;
}

.font-btn{
    font-family: 'Roboto', sans-serif;
}
.questao .cont-quest input{
    display: none;
}
/*Questões None*/
#cont2{
    display: none;
    animation: fadeIn 2s ease-in-out;
}
#cont3 {
    display: none;
    animation: fadeIn 2s ease-in-out;
}
#cont4 {
    display: none;
    animation: fadeIn 2s ease-in-out;
}
#cont5 {
    display: none;
    animation: fadeIn 2s ease-in-out;
}
#cont6 {
    display: none;
    animation: fadeIn 2s ease-in-out;
}
/*Resultado Casa*/
.casa{
    display: none;
    width: 65vw;
    height: 70vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: fadeIn 8s ease-in-out;
    cursor: pointer;
}
.casa .img-casa{
    width: 30vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.casa .img-casa img{
    width: auto;
    height: 35vh;
}

.title-casa{
    text-align: center;
    color: #fff;
        border-radius: 5px;
        font-family: 'Cedarville Cursive', cursive;
        font-size: 2vw;
        font-weight: 700;
        margin-top: 20px;
}
