.section-cont {
    background: linear-gradient(245.01deg, #000000 17.16%, #113223 65.9%);
}

.card-perfil {
    background-color: #244729;
}

.card-desc {
    background-color: #244729;
}

.card-inte {
    background-color: #244729;
}