/*Imports*/
@import "star.css";
@import url('http://fonts.cdnfonts.com/css/harry-potter');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
/*Resetando Padrões*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color: inherit;
}

/*NavBar*/
header{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
   
    width: 80%;
    display: flex;
    color: #fff;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-family: 'Harry Potter', sans-serif;
    font-size: 1.5vw;
}

/*Letter*/
.container-letter{
   height: 80vh;
   width: 100vw;
   
   display: flex;
   justify-content: center;
   align-items: center;
   
}

.container-letter .letter{
    height: 50vh;
    width: 50vw;
   
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-letter .letter img{
    width: auto;
    height: 45vh;
    display: block;
    cursor: pointer;
    transform: translateY(0px);
    animation: float 5s ease-in-out infinite;
}
/*segunda carta*/
#imgCarta2{
    cursor: pointer; 
    display: none;
    width: auto;
    height: 45vh;
   
    animation: fadeIn 2s ease-in-out;
    align-self: center;
    justify-self: center;
}
/*Letter Open*/
.modal {
    width: 25vw;
    height: 70vh;
   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    animation: animate;
    animation-duration: 800ms;
    margin: auto;
}

.container-modal {
    width: 25vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('assets/img_carta_leitura.svg');
    background-repeat: no-repeat;
    
    background-size:contain;
    
    border-radius: 10px;
    margin: auto;
    
    animation: fadeIn 3s ease-in-out;
    
}
.title{
    display: flex;
    width: 20vw;
    height: auto;
    font-family: 'Cedarville Cursive', cursive;
        font-size: 0.78vw;
        color: black;
        font-weight: 700;
        text-align: center;
}

.btn-carta{
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
        font-weight: bold 700;
        font-size: 0.9vw;
}


/*Letter Efect*/
@keyframes float{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0px)
    }
}
/*Letter Efect Second*/
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
/*Efect button*/
.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;

    font-family: 'Roboto', sans-serif;
        font-weight: bold 700;
        font-size: 1vw;
   
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.btn {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: #fff;
    background: linear-gradient(#fff 0%, #fff 100%);
    text-align: center;
    color: black;
}

.btn:hover {
    color: #fff;
    background: transparent;
    box-shadow: none;
}

.btn:before,
.btn:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #fff;
    box-shadow:
        -1px -1px 5px 0px #fff,
        7px 7px 20px 0px #0003,
        4px 4px 5px 0px #0002;
    transition: 400ms ease all;
}

.btn:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.btn:hover:before,
.btn:hover:after {
    width: 100%;
    transition: 800ms ease all;
}